* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Poppins', sans-serif; text-decoration: none;
}

body { background: #081b29; color: #ededed; }

.header {
    position: fixed; top: 0; left: 0; width: 100%;
    padding: 20px 10%; background: rgba(8, 27, 41, 0.95);
    display: flex; justify-content: space-between; align-items: center;
    z-index: 1000; border-bottom: 2px solid #00abf0;
}

.logo { font-size: 25px; color: #00abf0; font-weight: 700; }
.navbar a { color: #fff; margin-left: 35px; transition: .3s; }
.navbar a:hover, .navbar a.active { color: #00abf0; }


.tools-container {
    display: flex; flex-direction: column; align-items: center;
    padding-top: 130px; padding-bottom: 50px; gap: 40px; min-height: 100vh;
}

.tool-card {
    background: #112e42; border: 3px solid #00abf0;
    border-radius: 15px; padding: 30px; width: 90%; max-width: 450px;
    text-align: center; box-shadow: 0 0 15px rgba(0, 171, 240, 0.3);
}


.calc-screen {
    width: 100%; background: #081b29; border: 1px solid #00abf0;
    color: #00abf0; padding: 15px; border-radius: 8px;
    font-size: 24px; text-align: right; margin-bottom: 15px;
}

.calc-buttons { display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; }


.btn {
    display: inline-block; padding: 12px 28px; background: #00abf0;
    color: #081b29; border: 2px solid #00abf0; border-radius: 8px;
    font-weight: 600; cursor: pointer; transition: .5s;
}

.btn-calc { padding: 15px 5px; width: 100%; color: #fff; }
.btn:hover { background: transparent; color: #00abf0; box-shadow: 0 0 15px #00abf0; }

.res { margin-top: 15px; font-size: 1.2rem; font-weight: 700; color: #00abf0; }


.home { height: 100vh; display: flex; align-items: center; padding: 0 10%; justify-content: space-between; }
.home-content h1 { font-size: 50px; }
.avatar-box { width: 300px; height: 300px; border-radius: 50%; border: 4px solid #00abf0; overflow: hidden; background: #fff; }
.avatar-box img { width: 100%; }
